# Incluye todas las dependencias de producción
-r requirements.txt

# ── Tests ────────────────────────────────────────────────────────
pytest==8.3.4
pytest-django==4.9.0
factory-boy==3.3.1              # Factories para crear objetos de prueba
faker==33.3.0                   # Datos falsos realistas

# ── Desarrollo ───────────────────────────────────────────────────
django-debug-toolbar==4.4.6     # Profiling queries en dev
